body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

ul, ol {
    background-color: grey;
    padding: 35px;
    max-width: 350px;
}

li, li a {
    color:yellow;
}
.recipesList li:last-child {
    margin-left: 90%;
}
.recipesList li:nth-child(2){
    margin-left: 50%;
}